@model IEnumerable<Post>

<h2 class="text-center">Blog Posts</h2>
<br>

<div class="row">
  <div class="col-md-6">
    <ul>
    @foreach (var p in @Model.Take(3))
    {
      <li>
        <a asp-route-controller="blog" asp-route-action="@p.Slug">@p.Title</a>
        <span class="text-muted">@p.PublishDateString</span>
      </li>
    }
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
    @foreach (var p in @Model.Skip(3).Take(3))
    {
      <li>
        <a asp-route-controller="blog" asp-route-action="@p.Slug">@p.Title</a>
        <span class="text-muted">@p.PublishDateString</span>
      </li>
    }
    </ul>
</div>
</div>
